## Test-specific linter rules

rules:
  ## allow undeclared variables
  no-undef: 0
  ## allow global Buffer usage
  require-buffer: 0
  ## common module is mandatory in tests
  required-modules: [2, "common"]

globals:
  gc: false
