# Remember: order matters. Subsequent rules will override prior rules.

*addons* @nodejs/addon-api
*assert* @nodejs/testing
*async_hook* @nodejs/async_hooks @nodejs/diagnostics
*async_wrap* @nodejs/async_hooks
*buffer* @nodejs/buffer
*child_process* @nodejs/child_process
*cluster* @nodejs/cluster
*crypto* @nodejs/crypto
*eslint* @nodejs/linting
*fs* @nodejs/fs
*tls* @nodejs/tls @nodejs/crypto
*dgram* @nodejs/dgram
*domain* @nodejs/domains
*http* @nodejs/http
*http2* @nodejs/http2
*https* @nodejs/http @nodejs/crypto @nodejs/tls @nodejs/http2
*inspector* @nodejs/v8-inspector
*net* @nodejs/streams
*node_api* @nodejs/n-api
*repl* @nodejs/repl
*stream* @nodejs/streams
*timer* @nodejs/timers
*trace_events* @nodejs/trace-events
*url* @nodejs/url
*util* @nodejs/util
*vm* @nodejs/vm
*zlib* @nodejs/zlib

*esm* @nodejs/modules
/lib/internal/modules/esm/ @nodejs/modules
/lib/internal/bootstrap/loaders.js @nodejs/modules

/src/node.cc @nodejs/process
/src/node_file.* @nodejs/fs
/src/node_stat_watcher.* @nodejs/fs
/lib/internal/bootstrap/ @nodejs/process
/lib/internal/process/ @nodejs/process
/test/ @nodejs/testing

/deps/node-inspect @nodejs/V8-inspector
/deps/gtest/ @nodejs/testing @nodejs/v8 @nodejs/v8-update
/deps/icu/ @nodejs/intl
/deps/http_parser/ @nodejs/http-parser @nodejs/http
/deps/zlib/ @nodejs/zlib
/deps/uv/ @nodejs/libuv
/deps/npm/ @nodejs/npm
/deps/v8/ @nodejs/v8 @nodejs/v8-update
/deps/zlib @nodejs/zlib
/deps/openssl @nodejs/crypto

/benchmark/ @nodejs/performance @nodejs/benchmarking

/doc/ @nodejs/documentation
*.md @nodejs/documentation
*.py @nodejs/python
*.gyp @nodejs/gyp
*.gypi @nodejs/gyp

Makefile @nodejs/build
vcbuild.bat @nodejs/build
BUILDING.md @nodejs/build
configure @nodejs/build
BSDMakefile @nodejs/build
android-configure @nodejs/build

*aix* @nodejs/platform-aix
*arm* @nodejs/platform-arm
*freebsd* @nodejs/platform-freebsd
*macos* @nodejs/platform-macos
*ppc* @nodejs/platform-ppc
*smartos* @nodejs/platform-smartos
*s390* @nodejs/platform-s390
*windows* @nodejs/platform-windows

/src/node_postmortem_metadata.cc @nodejs/diagnostics @nodejs/post-mortem
/src/*.d @nodejs/diagnostics @nodejs/platform-smartos @nodejs/platform-freebsd @nodejs/platform-macos @nodejs/dtrace-mdb
/src/node.stp @nodejs/diagnostics

/.github/ @nodejs/tsc
CODE_OF_CONDUCT.md @nodejs/tsc
COLLABORATOR_GUIDE.md @nodejs/tsc
CONTRIBUTING.md @nodejs/tsc
CPP_STYLE_GUIDE.md @nodejs/tsc
GOVERNANCE.md @nodejs/tsc
LICENSE @nodejs/tsc
/README.md @nodejs/tsc
