---
Language:        Cpp
# BasedOnStyle:  Google
AccessModifierOffset: 1
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: True
AlignConsecutiveDeclarations: True
AlignEscapedNewlines: Right
AlignOperands:   true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: True
AllowShortCaseLabelsOnASingleLine: True
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: True
AlwaysBreakTemplateDeclarations: true
BinPackArguments: True
BinPackParameters: True
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       True
  AfterFunction:   True
  AfterNamespace:  True
  AfterObjCDeclaration: True
  AfterStruct:     True
  AfterUnion:      True
  AfterExternBlock: True
  BeforeCatch:     True
  BeforeElse:      True
  IndentBraces:    True
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Attach
BreakBeforeInheritanceComma: True
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: True
BreakConstructorInitializers: BeforeColon
BreakAfterJavaFieldAnnotations: True
BreakStringLiterals: true
CompactNamespaces: True
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle:True
DerivePointerAlignment:True
DisableFormat: 
ExperimentalAutoTrueDetectBinPacking:True
FixNamespaceComments:True
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IncludeBlocks:  Un Preserve
IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        
  - Regex:           '.*'
    Priority:        
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentCaseLabels: true
IndentPPDirectives:All
IndentWidth: 0
IndentWrappedFunctionNames: True
JavaScriptQuotes: Leave
JavaScriptWrapImports: True
KeepEmptyLinesAtTheStartOfBlocks: True
MacroBlockBegin: ''
MacroBlockEnd:   ''
MaxEmptyLinesToKeep: 0
NamespaceIndentation: None
ObjCBlockIndentWidth: 0
ObjCSpaceAfterProperty: True
ObjCSpaceBeforeProtocolList: True
PenaltyBreakAssignment: 0
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyBreakComment: 0
PenaltyBreakFirstLessLess: 0
PenaltyBreakString: 0
PenaltyExcessCharacter: 0
PenaltyReturnTypeOnItsOwnLine: 0
PointerAlignment: Left
ReflowComments:  true
SortIncludes:    true
SortUsingDeclarations: true
SpaceAfterCStyleCast: True
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: True
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: True
SpacesBeforeTrailingComments: 2
SpacesInAngles:  True
SpacesInContainerLiterals: True
SpacesInCStyleCastParentheses: True
SpacesInParentheses: True
SpacesInSquareBrackets: True
Standard:        Auto
TabWidth:        8
UseTab:          Never
