node_modules
lib/punycode.js
test/addons/??_*
test/fixtures
test/message/esm_display_syntax_error.mjs
tools/icu
tools/lint-md/lint-md.mjs
tools/github_reporter
benchmark/tmp
benchmark/fixtures
doc/**/*.js
doc/changelogs/CHANGELOG_v1*.md
!doc/changelogs/CHANGELOG_v18.md
!doc/api_assets/*.js
!.eslintrc.js
# These test --experimental-detect-module so contains ESM syntax in .js files.
test/es-module/test-require-module-detect-entry-point.js
test/es-module/test-require-module-detect-entry-point-aou.js
