
.waf*
tags
.lock-wscript
*.pyc
doc/api.xml
tmp/
node
node_g
*.swp
.benchmark_reports
/.project
/.cproject

gyp-mac-tool
gyp/gyp
gyp/all.Makefile
gyp/all.target.mk
gyp/node_js2c.host.mk
gyp/node_js2c.target.mk
out/
Makefile
