
.waf*
tags
.lock-wscript
*.pyc
doc/api.xml
tmp/
node
node_g
*.swp
.benchmark_reports
/.project
/.cproject

gyp-mac-tool
build/all.Makefile
build/js2c.host.mk
build/node.target.mk
build/node_js2c.host.mk
build/node_js2c.target.mk
out/
Makefile
