Aaron Heckmann <aaron.heckmann@gmail.com> <aaron.heckmann+github@gmail.com>
Abe Fettig <abefettig@gmail.com> <abe@fettig.net>
Alex Hultman <alexhultman@gmail.com>
Alex Kocharin <rlidwka@kocharin.ru>
Alex Kocharin <rlidwka@kocharin.ru> <alex@kocharin.ru>
Alexey Kupershtokh <alexey.kupershtokh@gmail.com> <wicked@alawar.com>
Alexis Campailla <alexis@janeasystems.com> <orangemocha@github.com>
Alexis Sellier <self@cloudhead.net>
Alexis Sellier <self@cloudhead.net> <alexis@cloudhead.io>
Andy Bettisworth <andy.bettisworth@accreu.com>
Anna Henningsen <anna@addaleax.net>
Aria Stewart <aredridel@dinhe.net> <aredridel@nbtsc.org>
Arlo Breault <arlolra@gmail.com>
Artem Zaytsev <a.arepo@gmail.com>
Arnout Kazemier <info@3rd-Eden.com> <3rd-Eden@users.noreply.github.com>
Atsuo Fukaya <fukayatsu@gmail.com>
Ben Noordhuis <info@bnoordhuis.nl> <bnoordhuis@bender.(none)> <ben@strongloop.com>
Ben Taber <ben.taber@gmail.com>
Bert Belder <bertbelder@gmail.com> <bert@piscisaureus2.(none)>
Bert Belder <bertbelder@gmail.com> <info@2bs.nl>
Bert Belder <bertbelder@gmail.com> <piscisaureus@Berts-MacBook-Pro.local>
Brandon Benvie <brandon@bbenvie.com> <brandon@brandonbenvie.com>
Brian White <mscdex@mscdex.net>
Brian White <mscdex@mscdex.net> <mscdex@gmail.com>
Caleb Boyd <caleb.boyd@gmail.com>
Charles <ineedpracticing@gmail.com> <cydjudge@users.noreply.github.com>
Chew Choon Keat <choonkeat@gmail.com>
Charles Rudolph <charles.rudolph@originate.com>
Chris Johnson <chris.s.johnson4@gmail.com>
Claudio Rodriguez <cjrodr@yahoo.com> <cr@fansworld.tv>
Colin Ihrig <cjihrig@gmail.com>
Christopher Lenz <cmlenz@gmail.com> <chris@lamech.local>
Dan Kaplun <dbkaplun@gmail.com> <dan@beardtree.com>
Daniel Berger <code+node@dpbis.net>
Daniel Chcouri <333222@gmail.com>
Daniel Gröber <darklord@darkboxed.org>
Daniel Gröber <darklord@darkboxed.org> <dxld@darkboxed.org>
Daniel Pihlström <sciolist.se@gmail.com>
Daniel Wang <wangyang0123@gmail.com>
Danny Nemer <hi@dannynemer.com> <DannyNemer@users.noreply.github.com>
Dave Pacheco <dap@joyent.com> <dap@cs.brown.edu>
David Siegel <david@artcom.de> <david.siegel@artcom.de>
Domenic Denicola <domenic@domenicdenicola.com>
Domenic Denicola <domenic@domenicdenicola.com> <d@domenic.me>
Eduard Burtescu <eddy_me08@yahoo.com>
Einar Otto Stangvik <einaros@gmail.com>
Elliott Cable <me@ell.io>
Eric Phetteplace <phette23@gmail.com>
EungJun Yi <semtlenori@gmail.com>
Evan Larkin <evan.larkin.il.com> <evan.larkin.iit@gmail.com>
Evan Lucas <evanlucas@me.com> <evan@btc.com>
Evan Lucas <evanlucas@me.com> <evan.lucas@help.com>
Farid Neshat <FaridN_SOAD@yahoo.com>
Fedor Indutny <fedor@indutny.com> <fedor.indutny@gmail.com>
Felix Böhm <felixboehm55@googlemail.com> <me@feedic.com>
Felix Geisendörfer <felix@debuggable.com>
Felix Geisendörfer <felix@debuggable.com>
Friedemann Altrock <frodenius@gmail.com>
Fuji Goro <gfuji@cpan.org>
Gabriel de Perthuis <g2p.code@gmail.com>
Gil Pedersen <git@gpost.dk> <github@gpost.dk>
Henry Chin <hheennrryy@gmail.com>
Herbert Vojčík <herby@mailbox.sk>
Icer Liang <liangshuangde@163.com> <wizicer@users.noreply.github.com>
Igor Soarez <igorsoarez@gmail.com>
Igor Zinkovsky <igorzi@microsoft.com>
Imran Iqbal <imran@imraniqbal.org>
Isaac Z. Schlueter <i@izs.me>
Isaac Z. Schlueter <i@izs.me> <i@foohack.com>
Jake Verbaten <raynos2@gmail.com>
James Hartig <fastest963@gmail.com> <james.hartig@grooveshark.com>
James M Snell <jasnell@gmail.com>
Jan Krems <jan.krems@gmail.com> <jan.krems@groupon.com>
Jered Schmidt <tr@nslator.jp>
Jeremiah Senkpiel <fishrock123@rocketmail.com>
Jerry Chin <qinjia@outlook.com>
Joe Shaw <joe@joeshaw.org> <joeshaw@litl.com>
Johan Bergström <bugs@bergstroem.nu>
Johan Dahlberg <jfd@distrop.com> <dahlberg.johan@gmail.com>
Johann Hofmann <git@johann-hofmann.com>
Jonas Pfenniger <jonas@pfenniger.name> <jonas@stvs.ch>
Jonathan Ong <jonathanrichardong@gmail.com> <jonathanong@users.noreply.github.com>
Jonathan Persson <persson.jonathan@gmail.com> <jonathan.persson@creuna.se>
Jonathan Rentzsch <jwr.git@redshed.net>
Josh Erickson <josh@snoj.us>
Joshua S. Weinstein <josher19@users.sf.net>
Juan Soto <juan@juansoto.me>
Junliang Yan <john.yan1019@gmail.com>
Junliang Yan <jyan@ca.ibm.com> <jyan@ca.ibm.ca>
Jérémy Lal <kapouer@melix.org>
Jérémy Lal <kapouer@melix.org> <holisme@gmail.com>
Kai Sasaki Lewuathe <sasaki_kai@lewuathe.sakura.ne.jp>
Karl Skomski <karl@skomski.com> <mail@skomski.com>
Kazuyuki Yamada <tasogare.pg@gmail.com>
Keith M Wesolowski <wesolows@joyent.com> <wesolows@foobazco.org>
Kelsey Breseman <ifoundthemeaningoflife@gmail.com>
Koichi Kobayashi <koichik@improvement.jp>
Kris Kowal <kris.kowal@cixar.com>
Kyle Robinson Young <kyle@dontkry.com>
Luke Bayes <lbayes@patternpark.com>
Maciej Małecki <maciej.malecki@notimplemented.org> <me@mmalecki.com>
Malte-Thorben Bruns <skenqbx@gmail.com>
Malte-Thorben Bruns <skenqbx@googlemail.com>
Marcin Cieślak <saper@marcincieslak.com>
Marcin Cieślak <saper@marcincieslak.com> <saper@saper.info>
Marti Martz <thalamew@q.com>
Martial James Jefferson <martial.jefferson@gmail.com>
Mathias Pettersson <mape@mape.me>
Matthew Lye <muddletoes@hotmail.com>
Michael Bernstein <michaelrbernstein@gmail.com>
Michael Wilber <gcr@sneakygcr.net>
Michaël Zasso <targos@protonmail.com>
Micheil Smith <micheil@brandedcode.com> <micheil@yettobebranded.net>
Micleusanu Nicu <micnic90@gmail.com>
Mikael Bourges-Sevenier <mikeseven@gmail.com> <msevenier@motorola.com>
Miroslav Bajtoš <miroslav@strongloop.com> <miro.bajtos@gmail.com>
Mitar Milutinovic <mitar.git@tnode.com>
Nebu Pookins<nebu@nebupookins.net>
Nicholas Kinsey <pyrotechnick@feistystudios.com>
Nikolai Vavilov <vvnicholas@gmail.com>
Onne Gorter <onne@onnlucky.com>
Paul Querna <pquerna@apache.org> <paul@querna.org>
Peter Flannery <pflannery@users.noreply.github.com>
Phillip Johnsen <johphi@gmail.com> <phillip.johnsen@finn.no>
Ratikesh Misra <ratikesh92@gmail.com>
Ray Morgan <rmorgan@zappos.com>
Ray Solomon <raybsolomon@gmail.com>
Raymond Feng <enjoyjava@gmail.com> <raymond@strongloop.com>
Rick Olson <technoweenie@gmail.com>
Roman Klauke <romaaan.git@gmail.com> <romankl@users.noreply.github.com>
Roman Reiss <me@silverwind.io>
Ron Korving <ron@ronkorving.nl> <rkorving@wizcorp.jp>
Ryan Dahl <ry@tinyclouds.org>
Ryan Emery <seebees@gmail.com>
Sakthipriyan Vairamani <thechargingvolcano@gmail.com>
Sam Mikes <smikes@cubane.com>
Sam P Gallagher-Bishop <samgallagherb@gmail.com> <SPGB@users.noreply.github.com>
Sam Shull <brickysam26@gmail.com> <brickysam26@samuel-shulls-computer.local>
Sam Shull <brickysam26@gmail.com> <sshull@squaremouth.com>
Sambasiva Suda <sambasivarao@gmail.com>
Sam Roberts <vieuxtech@gmail.com> <sam@strongloop.com>
San-Tai Hsu <v@fatpipi.com>
Scott Blomquist <github@scott.blomqui.st> <sblom@microsoft.com>
Sergey Kryzhanovsky <skryzhanovsky@gmail.com> <another@dhcp199-223-red.yandex.net>
Shannen Saez <shannenlaptop@gmail.com>
Shigeki Ohtsu <ohtsu@d.jp> <ohtsu@iij.ad.jp>
Siddharth Mahendraker <siddharth_mahen@hotmail.com> <siddharth_mahen@me.com>
Simon Willison <simon@simonwillison.net>
Stanislav Opichal <opichals@gmail.com>
Stefan Budeanu <stefan@budeanu.com>
Stefan Bühler <stbuehler@web.de>
Steve Mao <maochenyan@msn.com>
Steven R. Loomis <srl@icu-project.org> <srloomis@us.ibm.com>
Todd Kennedy <todd@selfassembled.org> <toddself@users.noreply.github.com>
TJ Holowaychuk <tj@vision-media.ca>
TJ Holowaychuk <tj@vision-media.ca> <tjholowayhuk@gmail.com>
Tadashi SAWADA <cesare@mayverse.jp>
Takahiro ANDO <takahiro.ando@gmail.com>
Ted Young <ted@radicaldesigns.org>
Thomas Lee <thomas.lee@shinetech.com> <tom@tom-debian.sensis.com.au>
Thomas Reggi <thomas@reggi.com>
Tim Caswell <tim@creationix.com> <tim@0-26-8-e9-4c-e1.dyn.utdallas.edu>
Tim Price <timprice@mangoraft.com>
Tim Smart <timehandgod@gmail.com> <tim@fostle.com>
Tim Smart <timehandgod@gmail.com> <timehandgod@gmail.com>
Tom Hughes <tom.hughes@palm.com> <tomtheengineer@gmail.com>
Tom Hughes-Croucher <tom_croucher@yahoo.com>
Trevor Burnham <trevor@databraid.com> <trevorburnham@gmail.com>
Tyler Larson <talltyler@gmail.com>
Vincent Voyer <v@fasterize.com>
Vladimir de Turckheim <vlad2t@hotmail.com>
Willi Eggeling <email@wje-online.de>
Yazhong Liu <yorkiefixer@gmail.com> Yazhong Liu <l900422@vip.qq.com>
Yazhong Liu <yorkiefixer@gmail.com> Yorkie <l900422@vip.qq.com>
Yazhong Liu <yorkiefixer@gmail.com> Yorkie <yorkiefixer@gmail.com>
Yoshihiro KIKUCHI <yknetg@gmail.com>
Yosuke Furukawa <yosuke.furukawa@gmail.com> <furukawa.yosuke@dena.jp>
Yuichiro MASUI <masui@masuidrive.jp>
Zachary Scott <zachary@zacharyscott.net> <zachary.s.scott@gmail.com>
Zoran Tomicic <ztomicic@gmail.com>

# These people didn't contribute patches to node directly,
# but we've landed their v8 patches in the node repository:
Daniel Clifford <danno@chromium.org>
Erik Corry <erik.corry@gmail.com>
Jakob Kummerow <jkummerow@chromium.org>
Kevin Millikin <kmillikin@chromium.org>
Lasse R.H. Nielsen <lrn@chromium.org>
Michael Starzinger <mstarzinger@chromium.org>
Toon Verwaest <verwaest@chromium.org>
Vyacheslav Egorov <vegorov@chromium.org>
Yang Guo <yangguo@chromium.org>
