<html>
 <head>
    <style>
      body {
        font-family: Helvetica;
        font-size: 14px;
      }
    </style>
 </head>
 <body>
   <div>
    <p>This package will install:</p>
    <ul>
      <li>Node.js {nodeversion} to <code>/usr/local/bin/node</code></li>
      <li>npm {npmversion} to <code>/usr/local/bin/npm</code></li>
    </ul>
  </div>
 </body>
</html>
