include AUTHORS
include COPYING
include ChangeLog
include MANIFEST.in
include Makefile
include NEWS
include README
include debian/README
include debian/changelog
include debian/compat
include debian/control
include debian/copyright
include debian/docs
include debian/rules
include gflags.py
include gflags2man.py
include gflags_validators.py
include setup.py
recursive-include tests *.py
