.hljs {
  font-weight: normal;
  font-style: normal;
}

.hljs-symbol {
  color: #333;
}

.hljs-keyword {
  color: #338;
}

.hljs-string,
.hljs-regexp,
.hljs-number {
  color: #E54305;
}

.hljs-comment {
  color: #666;
  font-weight: lighter;
}
