<html>
 <head>
    <style>
      body {
        font-family: Helvetica;
        font-size: 14px;
      }
      li:last-child {
        margin-bottom: 16px;
      }
    </style>
 </head>
 <body>
   <div>
     <p>Ce paquet a installé:</p>
     <ul>
       <li>Node.js {nodeversion} à <code>/usr/local/bin/node</code></li>
       <li>npm {npmversion} à <code>/usr/local/bin/npm</code></li>
     </ul>
     <p>Assurez-vous que <code>/usr/local/bin</code> est dans votre <code>$PATH</code>.</p>
   </div>
 </body>
</html>
