<html>
 <head>
    <style>
      body {
        font-family: Helvetica;
        font-size: 14px;
      }
    </style>
 </head>
 <body>
   <div>
    <p>Ce paquet va installer :</p>
    <ul>
      <li>Node.js {nodeversion} à <code>/usr/local/bin/node</code></li>
      <li>npm {npmversion} à <code>/usr/local/bin/npm</code></li>
    </ul>
  </div>
 </body>
</html>
