html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: .1px;
}

body {
  background: #46483e;
  color: #eee;
  font-size: 12px;
  line-height: 180%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  margin: 0;
  padding-top: 40px;
  border-top: 6px #8cc84b solid;
}

body.alt {
  background: white;
  color: #46483e;
}

body.int {
  padding-top: 49px;
}

img {
  border: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

@media all and (min-height: 650px) {
  #toc {
    position: fixed;
  }
}

#toctitle {
  display: none;
}

h1, h2, h3, h4 {
  color: #d2d8ba;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 2em;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-transform: uppercase;
}

h1 {
  font-family: Georgia, FreeSerif, Times, serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: none;
  color: #669900;
  font-weight: normal;
  margin: 15px 0 11px;
}

h2 {
  font-size: 12px;
  font-weight: normal;
}

h1 code, h2 code, h3 code, h4 code,
h1 a, h2 a, h3 a, h4 a {
  color: inherit;
  font-size: inherit;
}

#intro {
  width: 775px;
  margin: 0 auto;
  text-align: center;
  color: #d2d8ba;
}

#intro p {
  width: 680px;
  line-height: 180%;
  padding-top: 30px;
  margin: 0 auto;
  font-size: 14px;
}

#intro.interior #logo {
  margin-left: -298px;
}

#intro p.version {
  padding-top: 10px;
  font-size: 12px;
}

#intro .buttons {
  height: auto;
  overflow: hidden;
  _zoom: 1;
  width: 300px;
  margin: 0 auto;
}

#intro .button {
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
  line-height: 36px;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  -webkit-transition: .2s all ease-in-out;
  -moz-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;

  margin: 10px 4px;
  display: inline-block;
  color: #46483e;
  background-color: #9a9f8b;
  width: 96px;
}

#intro .forkme {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#intro .button:hover {
  text-decoration: none;
  background-color: #aab293;
}

#intro #docsbutton {
  clear: left;
}

#intro .downloadbutton {
  background-color: #8BC84B;
  width: 200px;
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin: 30px auto 0px auto;
}

#intro .downloadbutton:hover {
  background-color: #73a53e;
}

#quotes {
  text-align: center;
  width: 100%;
  background-color: #33342d;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#quotes h2 {
  margin-top: 0;
}

#quotes ul {
  display: block;
  width: 775px;
  margin: 0 auto;
  padding-top: 20px;
}

#quotes ul li {
  display: block;
  text-align: left;
  width: 180px;
  float: left;
  padding-right: 15px;
  font-size: 11px;
}

#quotes ul li:last-child {
  padding-right: 0;
}

#quotes ul li p span {
  font-size: 10px;
}

#quotes ul li p {
  color: #D2D8BA
}

#content {
  width: 775px;
  margin: 0 auto;
  overflow: visible;
  clear: both;
  display: block;
}

.int #content {
  width: 953px;
}

#column1 {
  width: 460px;
  float: left;
}

#content p,
#content ul {
  font-size: 14px;
  line-height: 24px;
}

#content ul {
  margin-top: 1em;
}

#content table {
  font-size: 14px;
  line-height: 24px;
  width: 100%;
}

#download-page #installers {
  width: 600px;
  display: table;
  margin-bottom: 1em;
}

#download-page #installers ul {
  width: auto;
  text-align: center;
  margin: 0 auto;
  display: table-row;
  width: 600px;
}

#download-page #installers ul img {
  display: block;
  margin: 0 auto;
}

#download-page #installers ul a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  padding-top: 1em;
}

#download-page #installers ul a:hover,
#download-page #installers ul a:active {
  background: #666;
  color: #8cc84b;
}

#download-page #installers ul li {
  width: 33%;
  display: table-cell;
}

#download-page #installers a small {
  font-size: 10px;
  display: block;
  color: #eee;
}

#download-page #content th {
  text-align: left;
  width: 33%;
}

#download-page #content table {
  table-collapse: separate;
}

#download-page #content td,
#download-page #content th {
  border: 1px solid #666;
}

#download-page #content td a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
}

#download-page #content td a:hover,
#download-page #content td a:active {
  background: #666;
  color: #8cc84b;
}

#front #content p {
  font-size: 12px;
}

#content h1 + p {
  font-size: 18px;
  line-height: 30px;
  color: #46483e;
  font-family: Georgia, FreeSerif, Times, serif;
}

#column2 {
  width: 260px;
  float: right;
}

#column1.interior {
  width: 600px;
  float: right;
  padding-top: 11px;
  font-size: 18px;
  padding-right: 150px;
}

#column2.interior {
  width: 140px;
  float: left;
  margin-top: -54px;
  overflow: visible;
}

#column2.interior ul {
  margin-left: 0;
}

#column2.interior li {
  list-style-type: none;
}

#column2.interior li a {
  display: block;
  padding: 0 0 0 35px;
  color: #878b78;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  line-height: 23px;
}

#column2.interior li a.home { background: url(http://nodejs.org/images/icons-interior.png) no-repeat -156px 3px; }
#column2.interior li a.download { background: url(http://nodejs.org/images/icons-interior.png) no-repeat -156px -21px; }
#column2.interior li a.about { background: url(http://nodejs.org/images/icons-interior.png) no-repeat -156px -45px; }
#column2.interior li a.npm { background: url(http://nodejs.org/images/icons-interior.png) no-repeat -156px -69px; }
#column2.interior li a.docs { background: url(http://nodejs.org/images/icons-interior.png) no-repeat -156px -93px; }
#column2.interior li a.blog { background: url(http://nodejs.org/images/icons-interior.png) no-repeat -156px -117px; }
#column2.interior li a.community { background: url(http://nodejs.org/images/icons-interior.png) no-repeat -156px -141px; }
#column2.interior li a.logos { background: url(http://nodejs.org/images/icons-interior.png) no-repeat -156px -165px; }
#column2.interior li a.jobs { background: url(http://nodejs.org/images/icons-interior.png) no-repeat -156px -189px; }

#column2.interior li a.home.current { background-position: 2px 3px; }
#column2.interior li a.download.current { background-position: 2px -21px; }
#column2.interior li a.about.current { background-position: 2px -45px; }
#column2.interior li a.npm.current { background-position: 2px -69px; }
#column2.interior li a.docs.current { background-position: 2px -93px; }
#column2.interior li a.blog.current { background-position: 2px -117px; }
#column2.interior li a.community.current { background-position: 2px -141px; }
#column2.interior li a.logos.current { background-position: 2px -165px; }
#column2.interior li a.jobs.current { background-position: 2px -189px; }

#column2.interior li a.home:hover { background-position: -331px 3px; }
#column2.interior li a.download:hover { background-position: -331px -21px; }
#column2.interior li a.about:hover { background-position: -331px -45px; }
#column2.interior li a.npm:hover { background-position: -331px -69px; }
#column2.interior li a.docs:hover { background-position: -331px -93px; }
#column2.interior li a.blog:hover { background-position: -331px -117px; }
#column2.interior li a.community:hover { background-position: -331px -141px; }
#column2.interior li a.logos:hover { background-position: -331px -165px; }
#column2.interior li a.jobs:hover { background-position: -331px -189px; }

#column2.interior li a.current {
  color: #8cc84b;
  font-weight: bold;
}

#column2.interior li a:hover {
  color: #000000;
  text-decoration: none;
}

#column2.interior li + li {
  border-top: 1px solid #c1c7ac;
  border-top: 1px solid #65675c;
}
.alt #column2.interior li + li {
  border-top: 1px solid #c1c7ac;
}

#column2.interior p.twitter {
  padding-top: 20px;
}

#column2.interior p.twitter a {
  background: url(http://nodejs.org/images/twitter-bird.png) no-repeat 0 4px;
  padding-left: 37px;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row + .row {
  border-top: 1px solid #626557;
}

.row h2 {
  font-size: 24px;
  color: white;
  text-transform: none;
  font-family: Georgia, FreeSerif, Times, serif;
  background: url(http://nodejs.org/images/community-icons.png) no-repeat;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.row h2.github { background-position: left -92px; }
.row h2.mailing { background-position: left -308px; }
.row h2.periodicals { background-position: left -198px; padding-top: 9px; margin-top: 7px; }
.row h2.conferences { background-position: left -522px; }
.row h2.localized { background-position: left -414px; }
.row h2.irc { background-position: left -626px; }
.row h2.installers { background-position: left -522px; }

.block {
  width: 280px;
  float: left;
}

.block + .block {
  margin-left: 20px;
  width: 300px;
}

#content .block p {
  font-size: 13px;
  line-height: 21px;
}

#explore {
  background: url(http://nodejs.org/images/home-icons.png) no-repeat left 17px;
}

#explore li {
  font-size: 12px;
  list-style-type: none;
  color: #d2d8ba;
  line-height: 14px;
  padding: 10px 0 10px 40px;
  border-top: 1px solid #626557;
}

#explore li span {
}

#explore li a.explore {
  text-transform: uppercase;
}

#explore ol.jobs {
  padding: 0;
}

#explore ol.jobs li {
  display: inline;
  padding: 0;
  border: none;
}

#explore ol.jobs li:after {
  content: ', ';
}

#explore ol.jobs li:last-child:after {
  content: '';
}

#footer {
  width: 942px;
  margin: 150px auto 55px auto;
  padding: 0;
}

#footer p {
  font-size: 11px;
  line-height: 1em;
  padding: 0 0 0 195px;
  color: #666;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
}

#front #footer {
  width: 775px;
  margin: 50px auto 30px auto;
  padding-top: 15px;
}

#front #footer ul {
  margin-right: 0;
  padding-right: 0;
}

#footer a {
  text-decoration: none;
  border: none;
  color: #690;
}

#footer a:hover {
  color: #000;
}

#front #footer a:hover {
  color: #fff;
}

#footer p a {
  border-bottom: 1px dotted #690;
  color: #878b78;
}

#footer ul {
  background: url(http://nodejs.org/images/footer-logo.png) left 17px no-repeat;
  border-top: 1px solid #626557;
  border-color: #90918b;
  padding-top: 23px;
  padding-left: 195px;
  height: 26px;
  margin-right: 137px;
}

.alt #footer ul {
  background-image: url(http://nodejs.org/images/footer-logo-alt.png);
}

#footer ul li {
  list-style-type: none;
  float: left;
  font-size: 12px;
  margin: 0 !important;
  height: 12px;
}

#footer ul li a {
  margin: 0;
  padding: 0 6px 0 0;
  display: block;
  height: 12px;
  line-height: 12px;
}

#footer ul li + li {
  margin-left: 3px;
}

#footer ul li + li a {
  padding: 0 6px 0 6px;
  border-left: 1px solid #878b78;
}

#footer ul li a.twitter  {
  background: url(http://nodejs.org/images/twitter-bird.png) no-repeat 5px 0px;
  padding-left: 25px;
}

pre, tt, code {
  color: #d2d8ba;
  font-size: 14px;
  line-height: 22px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  margin: 0; padding: 0;
}

#front pre, #front tt, #front code {
  font-size: 12px;
  line-height: 22px;
}

pre {
  padding-left: 1em;
  margin-left: -1em;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #626557;
}

.alt pre {
  font-size: 14px;
  margin-left: 0;
  border-left: 2px solid #dadad7;
  background-color: #f4f4f2;
  color: #46483e;
  padding: 1em 1.5em;
  line-height: 2em;
}

.alt code {
  color: #996633;
}

dd {
  margin: 1em 0;
  margin-left: 1em;
}

a {
  color: #690;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.alt a {
  background-color: #eff2db;
  padding: 0 2px;
}

.alt #intro a,
.alt #footer a {
  background-color: transparent;
}

.highlight {
  background: #733;
  padding: 0.2em 0;
}
.desktops {
  font-size: 12px;
}

.release {
  margin: 0 0 0 2em;
}

/* simpler clearfix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
