.sh_sourceCode {

  font-weight: normal;
  font-style: normal;
}

.sh_sourceCode .sh_symbol , .sh_sourceCode .sh_cbracket {
  color: #fff;
}

.sh_sourceCode .sh_keyword {
  font-style: italic;
}

.sh_sourceCode .sh_string, .sh_sourceCode .sh_regexp, .sh_sourceCode .sh_number,
.sh_sourceCode .sh_specialchar
{
	color: #B9CCC5;
}

.sh_sourceCode .sh_comment {
  color: #777;
}
