language: node_js
sudo: false
node_js:
  # LTS is our most important target
  - "4"
  # next LTS and master is next most important
  - "6"
  # still in LTS maintenance until fall 2016
  # (also still in wide use)
  - "0.10"
  # will be unsupported as soon as 6 becomes LTS and 7 released
  - "5"
  # technically in LTS / distros, unbeloved
  - "0.12"
env:
  - DEPLOY_VERSION=testing
before_install:
  - "npm config set spin false"
  - "npm install -g npm/npm#lts"
  - "mkdir -p /var/run/couchdb"
script: "npm test"
notifications:
    slack: npm-inc:kRqQjto7YbINqHPb1X6nS3g8
