language: node_js
node_js:
  - "6"
  - "4"
  - "5"
  - "0.12"
  - "0.10"
  - "0.8"
env:
  - DEPLOY_VERSION=testing
before_install:
  - "npm config set spin false"
  - "node . install -g ."
  - "mkdir -p /var/run/couchdb"
sudo: false
script: "npm test"
notifications:
    slack: npm-inc:kRqQjto7YbINqHPb1X6nS3g8
