body {
    font-size: small;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h3 {
    display: inline;
    font-size: medium;
}

h3 + p {
    display: inline;
    margin-left: 0.5em;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 2em;
    margin-left: 0;
}
