body {
    font-size: small;
    font-family: sans-serif;
}

p {
    line-height: 0;
}

p:first-child {
    display: inline;
}

h1 {
    display: inline;
}

iframe, object {
    border: 1px black solid;
    margin: 2px;
}
