{
  "notarize": [{
    "path": "node-{{pkgid}}.pkg",
    "bundle_id": "org.nodejs.pkg.{{pkgid}}",
    "staple": true
  }],

  "apple_id": {
     "username": "{{appleid}}",
     "password": "@env:NOTARIZATION_PASSWORD"
  }
}
