---
Checks:          '-*,
                 # modernize-use-auto,
                 # modernize-use-equals-delete,
                 modernize-deprecated-headers,
                 modernize-make-unique,
                 modernize-make-shared,
                 modernize-redundant-void-arg,
                 modernize-replace-random-shuffle,
                 modernize-shrink-to-fit,
                 modernize-use-bool-literals,
                 modernize-use-emplace,
                 modernize-use-equals-default,
                 modernize-use-nullptr,
                 modernize-use-override,
                 performance-faster-string-find,
                 # performance-unnecessary-value-param, see https://github.com/nodejs/node/pull/26042
                 readability-delete-null-pointer, '
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            nodejs/cpp
CheckOptions:
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           1
...
