name: Test Linux

on:
  pull_request:
    paths-ignore:
      - .mailmap
      - README.md
      - vcbuild.bat
      - test/internet/**
      - '**.nix'
      - .github/**
      - '!.github/workflows/test-linux.yml'
    types: [opened, synchronize, reopened, ready_for_review]
  push:
    branches:
      - main
      - canary
      - v[0-9]+.x-staging
      - v[0-9]+.x
    paths-ignore:
      - .mailmap
      - README.md
      - vcbuild.bat
      - test/internet/**
      - '**.nix'
      - .github/**
      - '!.github/workflows/test-linux.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: '3.14'
  FLAKY_TESTS: keep_retrying
  CLANG_VERSION: '19'
  CC: sccache clang-19
  CXX: sccache clang++-19
  SCCACHE_GHA_ENABLED: 'true'
  SCCACHE_ERROR_LOG: '/tmp/sccache.log'
  SCCACHE_LOG: 'debug'
  RUSTC_VERSION: '1.82'

permissions:
  contents: read

jobs:
  test-linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04-arm]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: false
          path: node
      - name: Install Clang ${{ env.CLANG_VERSION }}
        uses: ./node/.github/actions/install-clang
        with:
          clang-version: ${{ env.CLANG_VERSION }}
      - name: Install Rust ${{ env.RUSTC_VERSION }}
        run: |
          rustup override set "$RUSTC_VERSION"
          rustup --version
      - name: Set up Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          allow-prereleases: true
      - name: Set up sccache
        uses: Mozilla-Actions/sccache-action@7d986dd989559c6ecdb630a3fd2557667be217ad  # v0.0.9
        with:
          version: v0.12.0
      - name: Environment Information
        run: npx envinfo
      - name: Build
        run: make -C node build-ci -j4 V=1 CONFIG_FLAGS="--error-on-warn --v8-enable-temporal-support"
      - name: Print sccache log
        run: cat /tmp/sccache.log
